<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @subscription.email %>,</p>

    <p>You have successfully subscribed to our newsletter mailing list.</p>
  </body>
</html>
